# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/

# Node
package-lock.json
node_modules/
dist/
dist-ssr/
*.local

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
